/.aws_credentials
*.sw*
.*.sw*
*~
.DS_Store
/.lein/self-installs
/.lein/plugins
/.lein/bin
/.lein/repl-history
/.vim/.netrwhist
*.psd
*.hi
*.o
*.errors
/.xmonad/xmonad-*
/.xmonad/xmonad.state
.scratch*
**/scratch.clj
/notes
/scratch
