[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
