[user]
	email = dlidralporter@blackberry.com
	name = Dan Lidral-Porter

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab,tab-in-indent

[merge]
  conflictstyle = diff3
[init]
  defaultBranch = main
