[user]
# Please adapt and uncomment the following lines:
#name = Dan Lidral-Porter
#email =

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab,tab-in-indent

[merge]
  conflictstyle = diff3
[init]
  defaultBranch = main
