set editing-mode vi
set keymap vi
set completion-ignore-case on
set completion-map-case on
set completion-prefix-display-length 2

"\C-p": history-search-backward
"\eOA": history-search-backward
"\e[A": history-search-backward

"\C-n": history-search-forward
"\eOB": history-search-forward
"\e[B": history-search-forward

"\C-t": vi-editing-mode
"\e":   vi-editing-mode
